

.node {
    width: 1.5vw;
    height: 3vh;
    border: 1px solid #000000;
    flex: 1 1 auto;
    min-width: 0;
    background: #353535;
}

.start-node {
    background-color: rgba(145, 69, 18, 0.863);
}

.end-node {
    background-color:#008080;
}