
@keyframes selected {
    from {box-shadow: 1px 1px 2rem rgb(203, 206, 7)}
    50% { transform: scale(1.3, 1.3)}
    100% {transform: scale(1.7, 1.1)}
    to {box-shadow: 0px 0px 0px black}
}

@keyframes unselected {
    from {box-shadow: 1px 1px 2rem rgb(7, 93, 206)}
    50% { transform: scale(1.3, 1.3)}
    100% {transform: scale(1.7, 1.1)}
    to {box-shadow: 0px 0px 0px black}
}


.node {
    width: 1.5vw;
    height: 3vh;
    border: 1px solid #000000;
    flex: 1 1 auto;
    min-width: 0;
    background: #353535;
    animation-name: unselected;
    animation-duration: 250ms;
}

.start-node {
    background-color: rgba(145, 69, 18, 0.863);
}

.end-node {
    background-color:#008080;
}

.selected-node {
    animation-name: selected;
    animation-duration: 250ms;
    background-color: black;
}

.border-off {
    border: none;
}

