section {
    position: fixed;
    top: 0;
    background-color: 	#303030;
    width: 100%;
    padding: 1rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    box-shadow: 1rem .1rem .5rem rgba(145, 69, 18, 0.863);
    overflow: hidden;
    p {
        font-size: 22px;
        color: #008080;
        font-weight: 500;
        cursor: default;
        user-select: none;

        &:hover {
            transform: scale(1.05, 1.05);
            color: rgba(145, 69, 18, 0.863);
            transition: 500ms ease;
            text-decoration: underline;
        }

        &:active {
            transform: scale(1, 1);
            transition: 5ms ease;
        }
        
    }
}