.board {
    margin: 0 auto;
    margin-top: 16rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 91.5vw;
    box-shadow: 1rem 1rem 4rem rgba(145, 69, 18, 0.863), -1rem -1rem 4rem#008080;
}